{% load static %}

{% include "header.html" %}
<style>
    .image-container {
        display: flex;
        flex-wrap: nowrap;
      }
      
      .image-container img {
        height: 100%;
        object-fit: contain;
        {% comment %} margin-right: 20px; {% endcomment %}
      }
      
      /* Set the marquee styles */
      marquee {
        height: 200px;
        width: 100%;
        margin: 0 auto;
        overflow: hidden;
        white-space: nowrap;
      }
      
      
      /* Hide the scrollbar */
      ::-webkit-scrollbar {
        display: none;
      }
      
      
</style>  
<marquee scrollamount=20,behavior="scroll" direction="right">
<div class="image-container" style="height: 200px; width: 100%;">
    {% for i in range %}
    <img src="static/images/{{i}}" alt="Image {{i}}">
    {% endfor %}
</div>
</marquee>
        <h1>language<h1>
            {% comment %} {% for i in list %} {% endcomment %}
            
            
            <div>
                <h6>{{list}}:<h6>
        </div>
        <table border=3 celpading=3>
            <tr>
                <td>name</td>
                <td>phone</td>
            </tr>
            {% for i in dic %}
            <tr>
                <td>{{i.name}}</td>
                <td>{{i.phone}}</td>
            </tr>
            {% endfor %}
        </table>
        <img src="{% static 'img.jpg' %}">

        <h1>database table</h1>

        <table border=3 celpading=3>
            <tr>
                <td>name</td>
                <td>email</td>
                <td>message</td>
            </tr>
            {% for i in tdata %}
            <tr>
                <td>{{i.name}}</td>
                <td>{{i.email}}</td>
                <td>{{i.message}}</td>
            </tr>
            {% endfor %}
        </table>


        {% comment %} {% endfor %} {% endcomment %}
        <script src="" async defer></script>
{% include "footer.html" %}